* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-image: radial-gradient(#d6db88 2px, transparent 2px) !important;
    background-size: 106px 106px;
    background-color: #07000e !important;
    

}
#play,#pause{
    padding: 8px;
    border-radius: 12px;

}
#pause:hover{
    background-color: #00ff1e;
    color: #07000e;

}
#play:hover{
    background-color: #00ff1e;
    color: #07000e;
}
html {
    scroll-behavior:smooth;
    transition: 2s;
}

header {
    position: sticky !important;
    top: 0;
    border-bottom: 1px solid rgba(215, 203, 203, 0.439);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: radial-gradient(#d6db88 2px, transparent 2px) !important;
    background-size: 106px 106px;
    background-color: #07000e !important;
  
}

nav {

    gap: 55rem;
    color: #f5f1f1;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
   
    z-index: 1;
    


}

ul li {

    display: inline-block;
    padding: 12px;

}

ul li a {
    text-decoration: none;
    color: #f2ecec;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Genos', sans-serif;
    z-index: 1;
}

ul li a:hover {
    color: #82ca16;
    transition: 0.5s;
    text-decoration: overline;
}

.home {
    height: 100vh;
   
}
.home::before{
    content:"";
    position: absolute;
    inset: 0;
    background-color: #07000e9f;
    filter: blur(20px);
}
.skills-sec {
    height: 100vh;
    display: flex;
    z-index: -1;
  
}

.hero-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 48% 52% 70% 30% / 57% 53% 47% 43% ;
}

.p1 {
    font-size: 2.5rem;
    width: 55%;
    text-align: center;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    color: #edecf0;
}

.mypic {

    width: 28%;
    filter: brightness(0.7);
    opacity: 0.5;
    margin-top: 4rem;
    position: relative;
    right: 14%;
    /* border-top-right-radius: 8rem;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 8rem; */
    /* border: 5px solid white; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}

h1 {
    font-size: 6rem !important;
    margin-top: 2.2rem !important;
    text-align: center;
   
    font-family: 'Zen Dots', cursive;
}
nav>p{
    font-size: 1.5rem;
    font-family: 'Zen Dots', cursive;
    background-color: #07000e;
    padding: 1rem;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 112%;
    width: 55%;
    font-family: 'Genos', sans-serif;
    color: #eef2f3;
    font-size: 3rem;
    text-decoration: none;
}


.skills-sec {
    display: flex;
    justify-content: center;


}
.doctor{
    display: flex;
    justify-content: center;
    flex-direction: row;

}


.skill-title {
    font-size: 1.5rem;
    color: #fdfafa;
    font-family: 'Genos', sans-serif;
    text-align: center;
    font-weight: 500;


}

.skill-cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
.uximg{
    filter: brightness(0.8);
}
.cards {
    width: 200px;
    height: 300px;

    /* From https://css.glass */
    background: rgba(182, 176, 176, 0.156);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(103, 97, 166, 0.882);
}

.cards:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: rgba(42, 40, 40, 0.302);
    transition: 0.5s;
}

.skill img {
    padding: 1rem;
    width: 200px;

}

.skill img:hover {
    transform: translateY(-15px);
    transform: scale(12px);
    transition: 0.s;
}

.about-bg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; 
    height: 100vh;
    gap: 2rem;
    background-color: #07000e60;
    
}

.doc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem;
    position:relative;
    top: 0;
    height: 60vh;
 

}
.ux4>img{
    width: 600px;

}
.ux5>img{
    width: 600px;
   
}
.ux6>img{
    width: 600px;

}
h3{
    color: #9ddc38 !important;
    font-size: 3REM !important;
    font-family: 'Zen Dots', cursive;
}
.hero-about p{
   
    color: #ece5e5;  
    font-size: 2rem;
    line-height:1.5;
    text-align: center;
}
#site{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.hero-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    filter: blur(1);
    
}
.hero-about>p{
    font-size: 2rem;
    color:rgb(222, 212, 212);
    
}

.button{
padding: 1rem;
background-color: #ffffff;
border-radius: 6px;
text-decoration: none;
color: #252828;
font-family: 'Zen Dots', cursive;
margin-top: 2rem;
border: 1px solid rgba(103, 97, 166, 0.882);
filter: brightness(0.8);
}
.button:hover{
    padding-left: 1rem;
    transition: 0.3s;
    color:#00ff1e !important;
    border-bottom: solid 5 px #9DDC38 !important;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 5px 23px 16px -23px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px -7px 15px -3px rgba(0,0,0,0.1); */
}

#vr{
    color: rgb(232, 229, 224);
    text-align: center;
    font-size: 3rem;
    background-color: #07000ec4;
    font-family: 'Zen Dots', cursive;
    margin-top: 4rem;
}
.uxd{
    display: flex;

}
.uxd>div>img{
    width: 500px;
    
}
#wfxd{
    height: 100vh;
}
.ux{
    color: white;
    font-size: 2rem;
    background-color: #07000e8c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2rem;
    margin-top: 8rem;
    border-radius: 1rem;
    border-bottom: 2px solid rgba(160, 123, 212, 0.255);
}
.project-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
 
}
/* .project-wraper::before{
   content: "";
   background-color: #07000e8b;
   filter: blur(12px);
} */
.download-btn{
    background-color: #5f33c5;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 110%;
    width: 170px;
    border-radius: 18px;
    padding: 18px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Zen Dots', cursive;
    color: rgb(208, 191, 191);
    font-weight: 100;
}
ul{
    position: relative;
    right: 36px;
}
.download-btn:hover{
    border-bottom: #9DDC38 solid 5px;
    color: white;
    background-color: #07000e;
 
  
}
.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07000eaa;
    gap: 2rem;
} 
footer{
    background-color:#07000e;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
footer>div>p{
    color: rgb(168, 157, 157);
    font-size: 1.2rem;

}
footer>div{
    display: flex;
    gap: 1rem;
}
.ux1:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.ux2:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.ux3:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.ux4:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.ux5:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.ux6:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: zoom-in;
}
.wireframe{
    text-decoration: none;
    color: #f3f1f1;
    background-color: #8c89933b;
    font-size: 1.2rem;
    padding: 2rem;
    font-family: 'Zen Dots', cursive;
    border: solid 3px #82ca16;
    border-radius: 2rem;
}


.wireframe:hover{
    color: #9ddc38 !important;
    background-color: #070117;
    border: none;
    border-bottom: 5px solid lime;
}
.wire{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem;
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e9;
    padding: 12px;
    height:25rem;
    border-bottom: solid 2px #c0aff0;
 
}
form{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    left:10rem;
   
}
input{
    background-color: #dfdfdf47;
    width: 180px;
    height: 40px;
    border-radius: 12px;
    color: rgb(214, 220, 203);
    font-size: 1rem !important;
    text-align: center;
    font-family: 'Zen Dots', cursive !important;
    border: none;
}
input:focus-visible {
    outline:#82ca16 1px solid;
    background-color: #07000e7a;
 
}
input:active{
    border-color: #82ca16;
}
label{
    color:#9DDC38;
    font-size: 1.25rem;
    padding: 8px;
    font-family: 'Zen Dots', cursive;

}

#contact>div>p{
    color: white;
    font-size: 3rem;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    position: relative;
    top:1rem;
   border-bottom: #e9def4 solid 2px;
}
form>div>button{
    padding: 1rem;
    width: 250px;
    background-color: #8c8993;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-family: 'Zen Dots', cursive;
    border: none ;
    position: relative;
    right: 50rem;
    top: 8rem;

}
form>div>button:hover{
    border-bottom: #9DDC38 solid 5px;
    color: white;
    background-color: #07000e;
}